* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.sidebar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  &__user--name {
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        width: 200px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
      &__icons {
        width: 60px;
        text-align: right;
      }
      &__btn {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__group--list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: scroll;
    &__top-items {
      margin: 0px 0px 40px 0px;
      padding: 20px 20px 0px 20px;
      text-decoration: none;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
        color: #ffffff;
        font-weight: bold;
      }
      &__group-info {
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }

}

.chatmain {
  background-color: #ffffff;
  width: calc( 100vw - 300px );
  height: 100vh;
  &__group--info {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__top-items--group {
      font-size: 20px;
      color: #333333;
      margin: 35px 0px 15px 40px;
    }
    &__top-items--member {
      font-size: 12px;
      color: #999999;
      margin-left: 40px;
      display: flex;
        .list {
          display: flex;
          .gest {
            margin-left: 15px;
          }
        }
    }
    &__top-items--edit {
      font-size: 16px;
      text-decoration: none;
      color: #38aef0;
      width: 72px;
      height: 40px;
      padding: 0px 20px;
      margin: 28px 40px 0px 0px;
    }

  }
  .chatmain__message--field {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
    .MessageBox {
      padding-bottom: 46px;
      padding-top: 35px;
      margin-left: 40px;
      .MessageInfo {
        display: flex;
        justify-content: left;
        margin-bottom: 12px;
        &__userName {
          font-size: 16px;
          color: #333333;
          margin-right: 10px;
        }
        &__date {
        font-size: 12px;
        color: #999999;
        }
      }
      .Message {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  &__message--form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px 20px 40px;
    .form {
      height: 50px;
      display: flex;
      justify-content: space-between;
      .form__contents {
        position: relative;
        width: 100%;
        .text {
          width: 100%;
          height: 50px;
          padding-left: 10px;
          padding-right: 45px;
          border: none;
        }
        .icon__set {
          position: absolute;
          right: 10px;
          top: 13px;
          .form__icon {
          }
          .hidden {
            display: none;
          }
        }
      }
      .btn {
        height: 50px;
        font-size: 16px;
        color: #fff;
        border: none;
        background-color: #38aef0;
        padding: 0px 30px;
        margin-left: 15px;
      }
    }
  }
}